<h1>Topics</h1>

<table class="table table-striped">
	<tbody>
		<tr>
			<th>Survey Name</th>
			<th>Results</th>
		</tr>

		<% @topics.each do |topic| %>
			<tr>
				<td><%= link_to topic.subject, topic %></td>
				<td><%= link_to 'results', "/results/#{topic.id}" %></td>
			</tr>
		<% end %>

	</tbody>
</table>